<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="{% url "home" %}">
        <span>
          {% block logo %}Neogym{% endblock %}
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav  ">
            <li class="nav-item {% if nav_home_active %}active{% endif %}">
              <a class="nav-link" href="{% url "home" %}">Home</span></a>
            </li>
            <li class="nav-item {% if nav_why_active %}active{% endif %}">
              <a class="nav-link" href="{% url "why-us" %}"> Why us </a>
            </li>
            </li>
            <li class="nav-item {% if nav_trainer_active %}active{% endif %}">
              <a class="nav-link" href="{% url "trainers" %}"> trainers</a>
            </li>
            <li class="nav-item {% if nav_contact_active %}active{% endif %}">
              <a class="nav-link" href="{% url "contact-us" %}"> Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header> 