<section class=" slider_section position-relative">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for slide in slider %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="container">
            <div class="col-lg-10 col-md-11 mx-auto">
              <div class="detail-box">
                <div>
                  <h3>
                    Fitness
                  </h3>
                  <h2>
                    Training
                  </h2>
                  <h1>
                    Neogym
                  </h1>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse .
                  </p>
                  <div class="">
                    <a href="">
                      Contact Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <ol class="carousel-indicators">
      {% for slide in slider %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} ></li>
      {% endfor %}
    </ol>
  </div>
</section>