{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block slider %}
  {% include "partials/slider.html" %}
{% endblock slider %}

{% block content %}
  <!-- Us section -->
  {% include "sections/us.html" %}
  <!-- end us section -->


  <!-- heathy section -->
  {% include "sections/healthy.html" %}
  <!-- end heathy section -->

  <!-- trainer section -->
  {% include "sections/trainer.html" %}
  <!-- end trainer section -->

  <!-- contact section -->
  {% include "sections/contact.html" %}
  <!-- end contact section -->
{% endblock %}